- content_for :head
  meta name="robots" content="noindex,nofollow"
- provide :title, "#{@title} | シンプルコーデブログ -unobox-"
- provide :meta_desc, "#{@title}"
- provide :h1, "#{@title}"
.l-contents
  = render partial: 'shared/side_column'
  .l-column-main
    = render partial: "list_part", locals: {articles: @articles, tag: nil}
    = paginate(@articles)
