- provide :title, "#{@tag.display_name}のコーディネート | シンプルコーデブログ -unobox-"
- provide :meta_desc, "#{@tag.display_name}のコーディネート一覧。東京在住のOL・unoがシンプルコーデを紹介するブログです。MHL.や無印良品、GU（ジーユー）、ユニクロを中心としたコーデの置き画をInstagramを中心に投稿中！"
- provide :h1, "#{@tag.display_name}のコーディネート"
- if @articles.current_page > 1 || (@tag && !@tag.for_display)
  - content_for :head
    meta name="robots" content="noindex,nofollow"
- content_for :desc
  = @tag.description
.l-contents
  = render partial: 'shared/side_column'
  .l-column-main
    = link_to "写真一覧", photo_list_path(@tag), rel: "nofollow"
    = render partial: "list_part", locals: {articles: @articles, tag: @tag}
    = paginate(@articles)

