- provide :title, "#{@tag.display_name}の写真一覧 | シンプルコーデブログ -unobox-"
- provide :h1, "#{@tag.display_name}の写真一覧"
- content_for :head
  meta name="robots" content="noindex,nofollow"
.l-contents
  = render partial: 'shared/side_column'
  .l-column-main
    .photo-list
      - @articles.each do |article|
        .photo-list__item
          = link_to image_tag(article.image_url_inside), article_path(article)

