- provide :title, "シンプルコーデブログ -unobox-"
- provide :meta_desc, "MHL.や無印良品、GU（ジーユー）、ユニクロを中心としたコーデの置き画をInstagramを中心に投稿中！東京在住のOL・unoがシンプルコーデを紹介するブログです。"
- content_for :desc
  | MHL.や無印良品、GU（ジーユー）、ユニクロを中心としたコーデの置き画をInstagramを中心に投稿中！
  br
  | 東京在住のOL・unoがシンプルコーデを紹介するブログです。
.l-contents
  = render partial: 'shared/side_column'
  .l-column-main
    = render partial: "list_part", locals: {articles: @articles, tag: nil}
    p.more-link
      = link_to "もっと見る", all_list_path(page: 2), rel: "nofollow"

