= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      h2 = "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      ul
        - @article.errors.full_messages.each do |message|
          li = message
  .form
    .form__item
      .form__title
        = f.label :image_url
      .form__input
        = f.text_field :image_url, class: "c-textfield c-textfield--full form__textarea-imageurl"
    .form__item
      .form__title
        = f.label :post_date
      .form__input
        = f.datetime_select :post_date, class: "c-textfield form__textarea"
    .form__item
      .form__title
        = f.label :image
      .form__input
        = f.file_field :image
    .form__item
      .form__title
        = f.label :body
      .form__input
        = f.text_area :body, class: "c-textfield c-textfield--full form__textarea-body", placeholder: "本文を入力"
    .form__item
      .form__title
        = f.label :image2
      .form__input
        = f.file_field :image2
    .form__item
      .form__title
        = f.label :body2
      .form__input
        = f.text_area :body2, class: "c-textfield c-textfield--full form__textarea-body", placeholder: "本文を入力"
    .form__item
      .form__title
        = f.label :image3
      .form__input
        = f.file_field :image3
    .form__item
      .form__title
        = f.label :body3
      .form__input
        = f.text_area :body3, class: "c-textfield c-textfield--full form__textarea-body", placeholder: "本文を入力"
    .form__item
      .form__title
        = f.label :is_public, "公開"
      .form__input
        = f.check_box :is_public, {}, "true", "false"
    .form__item
      .form__title
        = f.label :twitter_post, "Twitterにも投稿する"
      .form__input
        = f.check_box :twitter_post, class: "c-checkbox form__checkbox"
  .post-action-btn = f.submit "投稿する", class: "c-btn post-action-btn__target"
