.l-contents
  .l-column-full
    .edit-back
      = link_to '記事一覧へ戻る', articles_path, class: "edit-back__target"
    .c-admin-title
      h1 記事を編集
      .c-admin-title__option
        = link_to '[ プレビュー ]', @article, target: "_blank"
    == render 'form'


