.l-contents
  .l-column-full
    h1.c-admin-title 記事一覧
    p.new-entry
      = link_to '新しく記事を投稿する', new_article_path, class: "c-btn"

    table.edit-table
      thead.edit-table__thead
        th.edit-table__thead-image
        th.edit-table__thead-status 公開中
        th.edit-table__thead-body 記事内容
        th.edit-table__thead-post-date 投稿日時
        th.edit-table__thead-action-link
        th.edit-table__thead-action-link
        th.edit-table__thead-action-link

      tbody.edit-table__tbody
        - @articles.each do |article|
          tr.articles-list
            td.articles-list__image = image_tag article.image_url_inside
            td.articles-list__public = article.is_public
            td.articles-list__body = article.body
            td.articles-list__post-date = article.post_date.strftime("%Y/%-m/%-d")
            td.articles-list__action-link = link_to '詳細', article
            td.articles-list__action-link = link_to '編集', edit_article_path(article)
            td.articles-list__action-link = link_to '削除', article, data: {:confirm => 'Are you sure?'}, :method => :delete

