= provide :title, "#{@article.post_date.strftime("%Y.%-m.%-d %a").downcase}の記事 | unobox-blog"
= content_for :head do
  meta[name="robots" content="noindex,nofollow"]
.l-contents
  = render partial: 'shared/side_column'
  .l-column-main
    = render partial: 'shared/article', locals: {article: @article, tag: nil}
    = link_to "記事一覧へ", root_path, class: "back-link"

