.l-contents
  .l-column-full
    h1.c-admin-title 管理画面
    - if params[:msg].present?
      p.c-message.c-message--complete
        = params[:msg]
    p
      = link_to "Instagramから記事を取り込む", :crawle_instagram, method: :post, class: "c-btn"
    ul.admin-list
      li.admin-list__item
        =link_to "記事一覧", :articles
      li.admin-list__item
        =link_to "タグ一覧", :tags
