.article
  .article__date
    .article__date-num
      = link_to article.post_date.strftime("%Y.%-m.%-d %a").downcase, article_path(article), rel: 'nofollow'
  .article__contents
    aside.article__id
      = article.id
    .article__image
      = image_tag article.image_url_inside
    .article__body
      pre.article__text
        -if @kw.present?
          =raw article.body_for_display.gsub(/#{@kw}/i, "<span class=\"highlight\">#{@kw}</span>")
        -else
          =raw article.body_for_display
    - if article.image2.present?
      .article__image
        = image_tag article.image2.url
    - if article.body2.present?
      pre.article__text
        =raw article.body2
    - if article.image3.present?
      .article__image
        = image_tag article.image3.url
    - if article.body3.present?
      pre.article__text
        =raw article.body3
    .article__code-list
      p.article__code-list-title
        | この記事のキーワード
      ul
        - article.tags.dont_display.each do |t|
          - if @kw.present? && t.name =~ /#{@kw}/i
            li.highlight.article__code-list-item
              = link_to t.name, list_path(t), rel: "nofollow"
          - else
            li.article__code-list-item
              = link_to t.name, list_path(t), rel: "nofollow"
  .article__tags
    - article_tags = tag.present? ?  article.tags.for_display.reject{|t|t.id == tag.id} : article.tags.for_display
    - if article_tags.present? || tag.present?
      ul
        -if tag.present?
          li
            span.article__tags-target.is-highlight
              = tag.display_name
        - article_tags.each do |tag|
          - if @kw.present? && tag.display_name =~ /#{@kw}/i
            li
              = link_to tag.display_name, list_path(tag), class: "article__tags-target is-highlight"
          - else
            li
              = link_to tag.display_name, list_path(tag), class: "article__tags-target"

