.l-column-side
  .l-column-side__inner
    h2.c-heading2
      | キーワード検索
    .search-form
      = form_tag(all_list_path, method: "GET") do
        = text_field_tag :kw, "", class: "c-textfield", placeholder: "ブログ内を検索"
        = submit_tag "検索", class: "c-btn c-btn--s search-form__btn"
    h2.c-heading2
      | コーディネート集
    ul.taglist
      - @tags.each do |tag|
        li.taglist__item
          = link_to "#{tag.display_name}", list_path(tag), class: "taglist__target"
    .side-twitter-widget
      h2.c-heading2
        | Twitter
      a.twitter-timeline[data-lang="ja" data-width="250" data-height="800" href="https://twitter.com/_unobox_"]
        Tweets by _unobox_
      script[async src="//platform.twitter.com/widgets.js" charset="utf-8"]
    .calendar

