= form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      h2 = "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      ul
        - @tag.errors.full_messages.each do |message|
          li = message

  .form
    .form__item
      .form__title
        = f.label :name
      .form__input
        = f.text_field :name, class: "c-textfield c-textfield--full", placeholder: "タグ名を入力"
    .form__item
      .form__title
        = f.label :name_en
      .form__input
        = f.text_field :name_en, class: "c-textfield c-textfield--full", placeholder: "タグ名（英語）を入力"
    .form__item
      .form__title
        = f.label :slug, "url(自動更新)"
      .form__input
        = f.text_field :slug, readonly: true, class: "c-textfield c-textfield--full"
    .form__item
      .form__title
        = f.label :description
      .form__input
        = f.text_area :description, class: "c-textfield c-textfield--full  form__textarea-body", placeholder: "タグの説明を入力"
    .form__item
      .form__title
        = f.label :for_display, "サイト上に表示する"
      .form__input
        = f.check_box :for_display
    .form__item
      .form__title
        = f.label :for_body_display, "本文に表示する"
      .form__input
        = f.check_box :for_body_display
  .post-action-btn = f.submit "投稿する", class: "c-btn post-action-btn__target"
