.l-contents
  .l-column-full
    h1.c-admin-title.edit-table__title タグ一覧
    p.new-entry
      = link_to '新しくタグを登録する', new_tag_path, class: "c-btn"

    table.edit-table
      thead.edit-table__thead
        th.edit-table__thead-id ID
        th.edit-table__thead-title タグ名
        th.edit-table__thead-count 記事数
        th.edit-table__thead-status サイト上に表示
        th.edit-table__thead-status 本文に表示
        th.edit-table__thead-action-link 記事一覧
        th.edit-table__thead-body タグ説明
        th.edit-table__thead-action-link
        th.edit-table__thead-action-link

      tbody.edit-table__tbody
        - @tags.each do |tag|
          tr.articles-list
            td.articles-list__id = tag.id
            td.articles-list__title = tag.name
            td.articles-list__count = tag.article_count
            td.articles-list__status = tag.for_display
            td.articles-list__status = tag.for_body_display
            td.articles-list__action-link = link_to "記事一覧", list_path(tag)
            td.articles-list__body = tag.description
            td.articles-list__action-link = link_to 'タグ編集', edit_tag_path(tag)
            td.articles-list__action-link = link_to 'タグ削除', tag, data: {:confirm => 'Are you sure?'}, :method => :delete
