h1 Instagram#index
p Find me in app/views/instagram/index.html.slim
p
  = @medias.first.pretty_inspect
  ul
    - @medias.each do |media|
      li
        div
          = media.id
        div
          = Time.at(media.created_time.to_i).pretty_inspect
        div
          = media.tags.pretty_inspect
        div
          = media.caption.text
        div
          = image_tag(media.images.standard_resolution.url)
