// g-width
$g-contents-width: 1000px;
$g-side-width: 250px;
$g-widget-size: 50px;
$g-widget-border-height: 3px;

// g-color
$g-key-color: #484656;
$g-key-color-text: #cecece;
$g-color-current: #4697b7;
$g-color-link: #4697b7;
$g-color-hover: #7eb3c7;
$g-color-border: #e1e1e1;
$g-color-border--dark: #cccccc;

// media query
$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}
// global-parts
.g-header {
  $this: &;
  position: relative;
  z-index: 1;
  top: $g-widget-size + $g-widget-border-height;
  display: block;
  padding: 2.3em 0;
  /* color: $g-key-color-text; */
  box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
  text-align: center;
  /* background-color: $g-key-color; */
  background-color: #ffffff;
  @media (min-width: $g-contents-width) {
    min-width: $g-contents-width;
  }
  @include max-screen($breakpoint-mobile) {
    padding: 1.5em 0;
    min-width: auto;
  }
  &__title {
    > a {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 42px;
      text-indent: -9999px;
      overflow: hidden;
      background: url('/logo.png') no-repeat 0 0;
      background-size: 200px 42px;
      @include max-screen($breakpoint-mobile) {
        width: 150px;
        height: 32px;
        background-size: 150px 32px;
      }
    }
  }
  &__desc {
    margin-top: 1.5em;
    font-size: 92%;
    color: #666666;
    line-height: 1.6;
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
}
.widget-header {
  position: absolute;
  top: 0;
  left: 0;
  border-top: solid $g-widget-border-height $g-key-color;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.7;
}
// Layouts
.l-container {
  padding: 1px 0;
  padding-top: $g-widget-size + $g-widget-border-height + 10px;//widget-header用
  width: 100%;
  box-sizing: border-box;
  background-color: #e6e6e6;
  @media (min-width: $g-contents-width) {
    min-width: $g-contents-width;
  }
  @include max-screen($breakpoint-tablet) {
    min-width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.l-contents {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  padding: 20px 0 30px;
  @media (min-width: $g-contents-width) {
    width: $g-contents-width;
  }
  @include max-screen($breakpoint-mobile) {
    flex-direction: column-reverse;
    width: auto;
    padding-top: 10px;
  }
}
.l-column-full {
  width: 100%;
}
.l-column-side {//flexにwidthがきかないのでinnerに入れる
  &__inner {
    width: $g-side-width;
    @include max-screen($breakpoint-mobile) {
      /* display: none; */
      width: 100%;
    }
  }
}
.l-column-main {
  /* width: $g-contents-width - $g-side-width; */
  padding-right: 20px;
  @include max-screen($breakpoint-mobile) {
    width: auto;
    padding: 0;
  }
}
// Components
.c-heading2 {
  font-size: 109%;
  margin: 10px 0;
  padding-bottom: 0.3em;
  border-bottom: solid 2px $g-color-border--dark;
  &:first-child {
    margin-top: 0;
  }
}
// c-message
.c-message {
  margin: 15px 0;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  color: #cea01a;
  background-color: #fff5eb;
}
// u-clearfix
.u-clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
// pagination
.pagination {
  margin: 20px 0;
  text-align: center;
  line-height: 1;
  .page {
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
    &.current,
    > a {
      display: inline-block;
      padding: 10px;
      min-width: 34px;
      box-sizing: border-box;
      border: solid 1px #d2d2d2;
      background-color: #fff;
    }
    &.current {
      color: #ffffff;
      background-color: #d2d2d2;
    }
    > a:hover {
      border-color: $g-color-hover;
      text-decoration: none;
    }
  }
  .next,
  .prev,
  .first,
  .last {
    display: inline-block;
    font-size: 109%;
    vertical-align: middle;
    margin: 0 5px;
  }
}
.more-link {
  margin: 15px 0;
  text-align: center;
}
// c-breadcrumbs
.c-breadcrumbs {
  margin: 10px auto;
  @media (min-width: $g-contents-width) {
    width: $g-contents-width;
  }
  @include max-screen($breakpoint-mobile) {
    width: auto;
  }
  > ul {
    > li {
      display: inline-block;
      margin: 0 3px;
      font-size: 92%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
// page-heading
.page-heading {
  $border-width: 3px;
  position: relative;
  margin: 30px auto 10px;
  padding-left: $border-width + 18px;
  box-sizing: border-box;
  @media (min-width: $g-contents-width) {
    width: $g-contents-width;
  }
  @include max-screen($breakpoint-mobile) {
    margin-top: 15px;
    width: auto;
  }
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $border-width;
    background-color: $g-key-color;
    content: '';
  }
  &__title {
    font-size: 164%;
    font-weight: normal;
  }
  &__desc {
    margin-top: 3px;
    font-size: 92%;
    line-height: 1.5;
  }
}
// taglist
.taglist {
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;
  padding-right: 16px;
  @include max-screen($breakpoint-mobile) {
    height: auto;
  }
  &__item {
    display: inline-block;
    margin: 3px 1px;
    border-radius: 4px;
    background-color: #f3f3f3;
  }
  &__target {
    display: block;
    padding: 5px 7px;
    font-size: 86%;
    color: #666666;
  }
}
// side-twitter-widget
.side-twitter-widget {
  margin: 30px 0;
}
// post
.post {
  margin: 15px 0;
  padding: 15px;
  border-bottom: solid 1px $g-color-border;
  background-color: #ffffff;
  &:first-child {
    margin-top: 0;
  }
  &__list {
    margin: 12px 0;
  }
  &__item {
    margin: 10px 0;
  }
  &__date {
    font-size: 11px;
    font-family: Arial;
    letter-spacing: 0.05em;
    color: #b4b4b4;
  }
  &__article-title {
    margin-top: 2px;
  }
}
// 記事
.article {
  position: relative;
  margin: 30px 0;
  padding: 15px;
  border-bottom: solid 1px $g-color-border;
  background-color: #ffffff;
  &:first-child {
    margin-top: 0;
  }
  &__id {
    display: none;
  }
  &__edit {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  $circle-size: 6em;
/*   &__date {
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    padding: 10px;
    font-size: 100%;
    color: #fff;
    background-color: rgba(91, 91, 97, 0.38);
    width: $circle-size;
    height: $circle-size;
    text-align: center;
  }
  &__date-num {
    display: table-cell;
    vertical-align: middle;
    width: $circle-size;
    height: $circle-size;
  } */
  &__date {
    $ribbon-height: 30px;
    position: relative;
    top: -15px;
    left: -25px;
    width: 10em;
    height: $ribbon-height;
    line-height: $ribbon-height;
    padding: 0 1em;
    font-size: 114%;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0 1px 1px #ffffff;
    background-color: #d8d0be;
    border-bottom: solid 1px #b9af99;
    &::before,
    &::after {
      content: '';
      position: absolute;
    }
    &::before {
      top: 100%;
      left: 0;
      border-width: 0 10px 10px 0;
      border-style: solid;
      border-color: transparent;
      border-right-color: #b9af99;
    }
    &::after {
      top: 0;
      right: 0;
      z-index: 2;
      border-width: ($ribbon-height / 2) 8px;
      border-style: solid;
      border-color: transparent;
      border-right-color: #fff;
    }
  }
  &__date-num > a,
  &__date-num > a:hover {
    color: inherit;
    text-decoration: none;
  }
  &__contents {
    display: table;
    width: 100%;
    table-layout: fixed;
    @include max-screen($breakpoint-mobile) {
      display: block;
      table-layout: inherit;
    }
  }
  &__image {
    $image-size: 600px;
    $image-size--m: 320px;
    $image-size--s: 250px;
    text-align: center;
    > img {
      max-width: $image-size;
      max-height: $image-size;
    }
    @include max-screen($breakpoint-tablet) {
      display: block;
      > img {
        width: $image-size--m;
        height: $image-size--m;
      }
    }
    @include max-screen($breakpoint-mobile) {
      display: block;
      > img {
        width: $image-size--s;
        height: $image-size--s;
      }
    }
  }
  &__body {
    margin-top: 15px;
  }
  &__subject {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0;
  }
  &__text {
    font-size: 109%;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
    @include max-screen($breakpoint-mobile) {
      font-size: 100%;
      line-height: 1.5;
    }
  }
  &__code-list {
    margin: 10px 0 0;
    padding: 1em;
    background-color: #f3f3f3;
    border: dashed 1px #d2d2d2;
  }
  &__code-list-title {
    margin-bottom: 5px;
  }
  &__code-list-item {
    display: inline-block;
    line-height: 1.6;
    &:before {
      display: inline-block;
      margin: 0 0.3em;
      content: '/';
      color: #cccccc;
    }
    &:first-child:before {
      display: none;
    }
  }
  &__tags {
    margin-top: 12px;
    > ul {
      position: relative;
      @include max-screen($breakpoint-mobile) {
        padding-left: 0;
      }
      > li {
        display: inline-block;
        margin: 3px 5px 3px 0;
      }
    }
  }
  &__tags-target {
    display: inline-block;
    border: dotted 1px #c4c4c4;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 92%;
    background-color: #f4f4f4;
    &:hover {
      color: $g-color-hover;
      border-color: $g-color-hover;
      text-decoration: none;
    }
    &.is-highlight {
      color: #fff;
      border: solid 1px $g-color-current;
      background-color: $g-color-current;
      &:hover {
        color: #fff;
      }
    }
  }
}
.c-admin-title {
  position: relative;
  font-size: 134%;
  margin-bottom: 15px;
  border-bottom: dotted 1px #cccccc;
  padding-bottom: 3px;
  &__option {
    position: absolute;
    font-size: 72%;
    right: 0;
    bottom: 3px;
  }
}
.edit-back {
  display: block;
  margin: 10px 0 20px;
  &:before {
    margin-right: 0.2em;
    content: '≪';
  }
}
// admin-list 管理トップ 一覧
.admin-list {
  margin: 20px 0;
  &__item {
    display: block;
    margin: 15px 0;
    > a {
      display: block;
      padding: 1.5em;
      border: solid 1px;
      border-radius: 4px;
      font-size: 117%;
      text-align: center;
      background-color: #fff;
    }
  }
}
// edit-table 記事編集
.edit-table {
  width: 100%;
  table-layout: fixed;
  &__thead {
    > tr > th {
      font-size: 92%;
      padding: 5px 10px;
      color: #ffffff;
      background-color: #444444;
    }
  }
  &__thead-id {
    width: 3em;
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
  &__thead-count {
    width: 3em;
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
  &__thead-image {
    width: 70px;
    @include max-screen($breakpoint-mobile) {
      width: 50px;
    }
  }
  &__thead-status {
    width: 5em;
    @include max-screen($breakpoint-mobile) {
      width: 3em;
    }
  }
  &__thead-body {
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
  &__thead-post-date {
    width: 6em;
  }
  &__thead-action-link {
    width: 3em;
    @include max-screen($breakpoint-mobile) {
      width: 2em;
    }
  }
  &__tbody {
    background-color: #fff;
  }
}
.articles-list {
  border-bottom: solid 1px $g-color-border;
  > td {
    padding: 10px;
    vertical-align: middle;
    @include max-screen($breakpoint-mobile) {
      padding: 5px;
    }
  }
  &__image {
    > img {
      width: 70px;
      height: 70px;
      @include max-screen($breakpoint-mobile) {
        width: 50px;
        height: 50px;
      }
    }
  }
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
  &__post-date {
  }
  &__action-link {
  }
  &__id,
  &__count,
  &__body {
      @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
}
.post-action-btn {
  display: block;
  padding: 10px 0;
  text-align: center;
  &__target {
    width: 15em;
  }
}
.new-entry {
  margin: 10px 0;
  text-align: right;
  @include max-screen($breakpoint-mobile) {
    text-align: center;
  }
}
.c-btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: solid 1px #aaaaaa;
  color: #666666;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff,#e8e8e8);
  background-image: linear-gradient(to bottom, #fff,#e8e8e8);
  &:hover {
    color: #999999;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, #fff,#f4f4f4);
    background-image: linear-gradient(to bottom, #fff,#f4f4f4);
  }
}
.c-textfield {
  outline: 0;
  padding: 4px 5px 3px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(89,89,96,0.1) inset;
  font-size: 109%;
  &--full {
    width: 100%;
  }
}
.form {
  width: 100%;
  &__item {
    margin: 20px 0;
  }
  &__title {
    margin: 10px 0;
    font-weight: bold;
  }
  &__input {
    margin: 10px 0;
  }
  &__textarea-title {
    height: 2em;
  }
  &__textarea-body {
    height: 30em;
  }
}
.back-link {
  margin: 10px 0;
  text-align: center;
  display: block;
}
div.calendar {
  padding: 3px 8px 8px;
  background-color: #fff;
}
table.calendar {
  width: 100%;
  box-sizing: border-box;
  padding: 3px 8px 8px;
  text-align: center;
  table-layout: fixed;
  background-color: #fff;
  thead th {
    text-align: center;
    line-height: 1;
  }
  .monthName {
    font-size: 109%;
    font-weight: bold;
  }
  .change-month {
    display: block;
    padding: 12px;
  }
  th:first-child .change-month {
    text-align: left;
  }
  th:last-child .change-month {
    text-align: right;
  }
  .dayName th {
    padding: 0 0 5px;
    font-size: 92%;
  }
  tbody td {
    height: 2.5em;
    vertical-align: middle;
    padding: 2px;
    color: #ccc;
  }
  tbody td a {
    display: block;
    height: 2.5em;
    line-height: 2.5;
    background-color: #ececec;
    &.Sat {
      background-color: #e9edef;
    }
    &.Sun {
      background-color: #ffe4e4;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .otherMonth {
    opacity: 0;
  }
}
.search-form {
  margin-bottom: 30px;
  &__btn {
    margin-left: 5px;
/*     @include max-screen($breakpoint-tablet) {
      margin-top: 5px;
      margin-left: 0;
      width: 100%;
    }
    @include max-screen($breakpoint-mobile) {
      margin-top: 0;
      margin-left: 5px;
      width: auto;
    } */
  }
}
.photo-list {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0 1px 1px;
  box-sizing: border-box;
  &__item {
    margin: 1px 1px 0 0;
    width: calc(100% / 3 - 1px);
    &::nth-child(3n) {
      margin-right: 0;
    }
  }
}
