$g-color-link: #4697b7;
$g-color-hover: #7eb3c7;
html,body,
div,span,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,
sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,output,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,menu,nav,section,main,
summary,time,mark,audio,video,embed {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

article,aside,canvas,details,
figcaption,figure,footer,header,
menu,nav,section,main,summary,address {
    display: block;
}

h1,h2,h3,h4,h5,h6,strong,em,b {
    font-style: normal;
    font-weight: bold;
}

div,p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

ol,ul {
    list-style: none;
}

li {
    list-style: inherit;
}

blockquote,q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,q:after {
    content: "";
    content: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    width /***/:auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    word-break: break-all;
    empty-cells: show;
}

caption,th {
    text-align: left;
}

input,button,textarea,select {
    margin: 0;
    font: inherit;
}

input,textarea {
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #595960;
    font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: $g-color-link;
    text-decoration: none;
}

a:hover,a:active {
    color: $g-color-hover;
    text-decoration: underline;
}
// 追加
select {
  cursor: pointer;
  padding: 0.3em;
  border: 1px solid #cccccc;
}
