<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="<%= yield :meta_desc %>">
  <link rel="shortcut icon"  href="<%= image_path 'favicon.ico' %>">
  <%= yield :head %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79564300-1', 'auto');
    ga('send', 'pageview');

  </script>
  <% end %>
</head>
<body>
  <header class="g-header">
    <% if controller_name == "contents" && action_name == "top" %>
      <h1 class="g-header__title">
        <%= link_to "シンプルコーデブログ -unobox-", root_path %>
      </h1>
      <p class="g-header__desc">
        <%= yield :desc %>
      </p>
    <% else %>
      <p class="g-header__title">
        <%= link_to "シンプルコーデブログ -unobox-", root_path %>
      </p>
    <% end %>
  </header>
  <div class="l-container">
    <% if !(controller_name == "contents" && action_name == 'top') %>
      <div class="c-breadcrumbs">
        <%= render_crumbs :separator => ' > ', microdata: true, format: :html_list %>
      </div>
      <% if !(controller_name == "articles" && action_name == 'show') %>
        <div class="page-heading">
          <h1 class="page-heading__title">
            <%= yield :h1 %>
          </h1>
          <p class="page-heading__desc">
            <%= yield :desc %>
          </p>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    <div class="widget-header">
      <!-- SnapWidget -->
      <iframe src="https://snapwidget.com/embed/197754" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:2600px; height:52px"></iframe>
    </div>
  </div>
</body>
</html>
